@page
@model MyBlog.Pages.Blogs.CreateModel
@{
}

<form>
    <input asp-for="Blog.Name" class="form-control" />
    <br />
    <textarea asp-for="Blog.Description" class="form-control"></textarea>
    <br />
    <button class="btn btn-primary">Submit</button>
</form>