@page
@model MyBlog.Pages.Blogs.DetailsModel
@{
}

<h1>Details</h1>

@if (Model.Blog is not null)
{
    <p>Name : @Model.Blog.Name</p>
    <p>Desc : @Model.Blog.Description</p>
}
else
{
    <span>Not found!</span>
}



