@page
@model MyBlog.Pages.Blogs.EditModel
@{
}

<form method="post">
    <input asp-for="Blog.Id" hidden />

    <input asp-for="Blog.Name" class="form-control" />
    <br />
    <textarea asp-for="Blog.Description" class="form-control"></textarea>
    <br />
    <button class="btn btn-primary">Submit</button>
    <a class="btn btn-link" asp-page="/blogs/index">Back to List</a>
</form>
